**/testing/regress/hpcc/__init__.pyc
**/testing/regress/hpcc/common/__init__.pyc
**/testing/regress/hpcc/common/config.pyc
**/testing/regress/hpcc/common/dict.pyc
**/testing/regress/hpcc/common/error.pyc
**/testing/regress/hpcc/common/logger.pyc
**/testing/regress/hpcc/common/report.pyc
**/testing/regress/hpcc/common/shell.pyc
**/testing/regress/hpcc/regression/__init__.pyc
**/testing/regress/hpcc/regression/regress.pyc
**/testing/regress/hpcc/regression/suite.pyc
**/testing/regress/hpcc/util/__init__.pyc
**/testing/regress/hpcc/util/ecl/__init__.pyc
**/testing/regress/hpcc/util/ecl/cc.pyc
**/testing/regress/hpcc/util/ecl/command.pyc
**/testing/regress/hpcc/util/ecl/file.pyc
**/testing/regress/hpcc/util/expandcheck.pyc
**/testing/regress/hpcc/util/util.pyc
**/testing/regress/hpcc/util/argparse.pyc
**/testing/regress/hpcc/util/collections.pyc
**/testing/regress/eclcc.log
**/testing/regress/run
**/testing/regress/run_loop
**/testing/regress/run_perf
**/testing/regress/.eclcc
GRTAGS
GPATH
GTAGS
.browse.VC.db*
.clangd
.clang_complete
.lvimrc
.vscode/
.*.swp
