[user]
	name = My Name
	email = My Email Address
[core]
	autocrlf = input
	whitespace = trailing-space,tab-in-indent
	editor = vim
	excludesfile = ~/.gitignore
    preloadindex = true
[apply]
	whitespace = error
[credential]
	helper = cache --timeout=9600
[checkout]
	defaultRemote = upstream
[color "diff"]
	old = red
	new = green
	meta = cyan
	frag = yellow
	commit = blue
	hunk = magenta
[pager]
	diff = less -R
[alias]
	undo = "!f() { git reset --hard $(git rev-parse --abbrev-ref HEAD)@{${1-1}}; }; f"
	dt = difftool
	vdiff = difftool
	difff = dless
	dif = dless
	dles = dless
	dless = "!f() { git --no-pager diff --color=always "$@" | less -R; }; f"
#	git diff does not use alternate screen, no matter what PAGER, GIT_PAGER, etc. are
	dvim  = "!f() { git --no-pager diff "$@" | vless; }; f"
	dbat  = "!f() { git --no-pager diff "$@" | bat; }; f"
	last = log -l HEAD
	unstage = reset HEAD --
	visual = !gitk
    merge-s = !git merge --signoff
    merge-signed = !git merge --signoff
    pull-s = !git pull --signoff
    pull-signed = !git pull --signoff
    br-name = "!git rev-parse --abbrev-ref HEAD"
    ff-ups-mrg = "!f() { git merge --signoff --ff-only "upstream/$(git br-name)"; }; f"
    ff-org-mrg = "!f() { git merge --signoff --ff-only "origin/$(git br-name)"; }; f"
    del-loc-br = "!f() { git branch -D "$@"; }; f"
    del-rem-br = "!f() { git push origin --delete "$@"; }; f"
    del-all-br = "!f() { git push origin --delete "$@"; git branch -D "$@"; }; f"
    prune-rem-org = "!git remote prune origin"
    alias = "!git config --get-regexp ^alias. | sed 's/^alias.//'"
    stat = !git status
    st = !git status
    smu = !git submodule update --init --recursive
#   parent = "!f() { c=$(git log --first-parent | grep commit | head -n 2 | tail -n 1 | awk '{print $2}'); git branch --contains $c; }; f"
    parent = !git log --first-parent --graph
[diff]
	compactionHeuristic = true
	tool = vimdiff
[difftool]
	prompt = false
	trustExitCode = true
[mergetool]
	trustExitCode = true
[fetch]
	prune = true
