$include /etc/inputrc
# bash v4.4 with readline v7.0 supports bracketed paste
set enable-bracketed-paste on
#
"\C-n": nop
#
"\e[1;5D": vi-prev-word
"\e[1;5C": vi-next-word
#
# Home
"\e[1~": beginning-of-line
# End
"\e[4~": end-of-line
#
# S-DEL - backward kill word
"\e[3;2~": backward-kill-word
#
# C-DEL - kill word - want to continue backwards ...
"\e[3;5~": kill-word
#
# C-S-DEL - want whole-word and space
"\e[3;6~": backward-kill-word
# M-DEL - want whole-word and space
"\e[3;3~": backward-kill-word
#
"\C-w": backward-kill-word
#"\C-p": backward-kill-word

# Alt-d kill word
"\e-d": kill-word
#
# DEL
"\e[3~": delete-char
#
# INS - essentially a no-op ...
"\e[2~": redraw-current-line
#
