
!! ==========================================

!! colors ...

!!#define S_base03        #002b36
#define S_base03        #808080
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3

!!#define S_yellow        #b58900
#define S_yellow        #ffe205
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

!! black dark/light
!*color0:                S_base02
!*color8:                S_base03
!! red dark/light
!*color1:                S_red
!*color9:                S_orange
!! green dark/light
!*color2:                S_green
!*color10:               S_base01
!! yellow dark/light
!*color3:                S_yellow
!*color11:               S_base00
!! blue dark/light
!*color4:                S_blue
!*color12:               S_base0
!! magenta dark/light
!*color5:                S_magenta
!*color13:               S_violet
!! cyan dark/light
!*color6:                S_cyan
!*color14:               S_base1
!! white dark/light
!*color7:                S_base2
!*color15:               S_base3

!! ==========================================

!*color0:      #000000
!*color1:      #9e1828
!*color2:      #aece92
!*color3:      #968a38
!*color4:      #414171
!*color5:      #963c59
!*color6:      #418179
!*color7:      #bebebe
!*color8:      #666666
!*color9:      #cf6171
!*color10:     #c5f779
!*color11:     #fff796
!*color12:     #4186be
!*color13:     #cf9ebe
!*color14:     #71bebe
!*color15:     #ffffff

!! ==========================================

! black
!URxvt*color0:  #000000
!URxvt*color8:  #686868
! red
!URxvt*color1:  #B21818
!URxvt*color9:  #FF5454
! green
!URxvt*color2:  #18B218
!URxvt*color10: #54FF54
! yellow
!URxvt*color3:  #B26818
!URxvt*color11: #FFFF54
! blue
!URxvt*color4:  #1818B2
!URxvt*color12: #5454FF
! purple
!URxvt*color5:  #B218B2
!URxvt*color13: #FF54FF
! cyan
!URxvt*color6:  #18B2B2
!URxvt*color14: #54FFFF
! white
!URxvt*color7:  #B2B2B2
!URxvt*color15: #FFFFFF

!! ==========================================

! Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized

! Common

!!#define S_yellow        #b58900
!!#define S_orange        #cb4b16
!!#define S_red           #dc322f
!!#define S_magenta       #d33682
!!#define S_violet        #6c71c4
!!#define S_blue          #268bd2
!!#define S_cyan          #2aa198
!!#define S_green         #859900

! Dark

!!#define S_base03        #002b36
!!#define S_base02        #073642
!!#define S_base01        #586e75
!!#define S_base00        #657b83
!!#define S_base0         #839496
!!#define S_base1         #93a1a1
!!#define S_base2         #eee8d5
!!#define S_base3         #fdf6e3

! Light

! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36

! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:         S_base03

!!*background:              S_base03
!!*foreground:              S_base0
!!*fading:                  40

!!*fadeColor:               S_base03
!!*cursorColor:             S_base1
!!*pointerColorBackground:  S_base01
!!*pointerColorForeground:  S_base1

!!*color0:                  S_base02
!!*color1:                  S_red
!!*color2:                  S_green
!!*color3:                  S_yellow
!!*color4:                  S_blue
!!*color5:                  S_magenta
!!*color6:                  S_cyan
!!*color7:                  S_base2
!!*color9:                  S_orange
!!*color8:                  S_base03
!!*color10:                 S_base01
!!*color11:                 S_base00
!!*color12:                 S_base0
!!*color13:                 S_violet
!!*color14:                 S_base1
!!*color15:                 S_base3

!! ==========================================

!! almost direct hex colors ...

! black
 *color0:      #000000
! maroon #800000
 *color1:      #b22222
! green
 *color2:      #29cb00
! olive #808000
 *color3:      #999900
! navy
 *color4:      #0066ff
! purple #800080
 *color5:      #ba55d3
! cyan/teal #008080
 *color6:      #009999
! silver
 *color7:      #c7c7c7
! grey
 *color8:      #808080
! red #ff0000
 *color9:      #df0000
! lime #00ff00
 *color10:     #00d700
! yellow #ffff00
 *color11:     #ffd700
! blue #0000ff
 *color12:     #5f87ff
! fuchsia #ff00ff
 *color13:     #875faf
! aqua
 *color14:     #00ffff
! white
 *color15:     #ffffff

!! ==========================================

*fadeColor:              #808080
*pointerColorBackground: #586e75
*pointerColorForeground: #93a1a1
!!*.cursorColor:           #a49b88
*.cursorColor:           #d78700

!! dont set cursorBlink as if that is set and the esc seq is used then cursor will NOT blink ...
*.cursorOffTime: 300
*.cursorOnTime:  700

Xcursor.size: 32

!! ==========================================
!! ==========================================

!! features ...

URxvt*termName: rxvt-unicode-256color

!URxvt.font:     xft:Liberation Mono:pixelsize=21:antialias=false
!URxvt.boldFont: xft:Liberation Mono:pixelsize=21:weight=bold:antialias=false
URxvt.font:     xft:DejaVu Sans Mono:pixelsize=21:antialias=true
URxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=21:weight=bold:antialias=true

URxvt.letterSpace: 0
URxvt.lineSpace: 0
!!URxvt.geometry: 164x48+854+892
URxvt.geometry: 194x51+690+700
URxvt*externalBorder: 1
URxvt.internalBorder: 6
URxvt.borderColor: #262626
!! NOTE: rxvt uses the cvvis terminfo capability cvvis=\E[?12;25h
!!       not sure if these blink X resources (and the Off/OnTime above) also matter ?
!!       we can override terminfo cnorm to be same as cvvis to get a
!!       blinking cursor, and since its cnorm it gets restored at program end
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 0
URxvt.scrollBar: false
URxvt.scrollBar_right: false

URxvt.visualBell: false
URxvt.urgentOnBell: false
!! more bell ?
URxvt.insecure: false

!! also turn gnome bell off ...
!! gsettings set org.gnome.desktop.wm.preferences visual-bell false
!! gsettings set org.gnome.desktop.wm.preferences audible-bell false

!! ?
URxvt*buffered: true
URxvt.utmpInhibit: true
!! ------

!! disable scrollback buffer for alternate screen
!! thus shift+up etc. does not scroll ...
URxvt.secondaryScreen: false
URxvt.secondaryScroll: false
URxvt.secondaryWheel:  false

! do not scroll with output
URxvt.scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true
! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

*.foreground:  #c5c5c5
!!*.foreground:  #ffd1b7
!!*.background:  #2e2e26
urxvt*depth: 32
!!urxvt*background: rgba:0000/0000/0200/c800
!!urxvt*background: rgba:0000/0000/0000/cccc
!!urxvt*background: rgba:3400/3400/3400/fa00
URxvt.background: [96]#2e2e26
!!urxvt*transparent: true
!!urxvt*shading: 30

!! % xdpyinfo | grep -B 2 resol
!! screen #0:
!!   dimensions:    3840x2160 pixels (1016x572 millimeters)
!!   resolution:    96x96 dots per inch
!! used to use 96, but when changing monitors it gets set to 120
!! so use 120 always ...
Xft.dpi: 120

!! ==========================================

!! keybindings

URxvt.iso14755:                 false
URxvt.iso14755_52:              false

!! special ------
URxvt.keysym.C-BackSpace:               string:\036\177
URxvt.keysym.S-BackSpace:               string:\036\010
URxvt.keysym.S-space:                   string:\036\040
!!URxvt.keysym.S-BackSpace:               string:\177

URxvt.keysym.C-S-BackSpace:             string:\037\177
URxvt.keysym.C-S-space:                 string:\037\040
!! make these the same as C-S-BackSpace/space for now ...
URxvt.keysym.Shift-Meta-BackSpace:      command:\000
URxvt.keysym.Meta-BackSpace:            command:\000
!! these can launch window menu, disable
URxvt.keysym.Shift-Meta-space:          command:\000
URxvt.keysym.Meta-space:                command:\000

URxvt.keysym.Control-Meta-BackSpace:    string:\033\100
URxvt.keysym.Control-Meta-equal:        string:\033\043
URxvt.keysym.Control-Meta-space:        string:\033\043
URxvt.keysym.Control-Meta-backslash:    command:\000

URxvt.keysym.C-S-bracketleft:           string:\037\133
URxvt.keysym.Control-Meta-bracketleft:  command:\000
URxvt.keysym.C-S-bracketright:          string:\037\135
URxvt.keysym.Control-Meta-bracketright: command:\000
URxvt.keysym.C-S-backslash:             string:\037\134

URxvt.keysym.C-S-slash:                 string:\037\057

URxvt.keysym.C-equal:                   string:\075
URxvt.keysym.C-minus:                   string:\036\055
URxvt.keysym.Control-Meta-minus:        command:\000

URxvt.keysym.Control-Meta-Return:       string:\036\015

URxvt.keysym.Shift-Control-F:           string:\006
URxvt.keysym.Shift-Control-B:           string:\002

!!URxvt.keysym.Shift-Control-X:           string:\037\130

URxvt.keysym.Shift-Control-J:           string:\037\112
URxvt.keysym.Shift-Control-K:           string:\037\113

URxvt.keysym.Shift-Control-G:           string:\037\107
URxvt.keysym.Shift-Control-N:           string:\037\116
URxvt.keysym.Shift-Control-P:           string:\037\120
!! special ------

!! same esc-seq as S-Insert (really cannot be builtin-string)
URxvt.keysym.Shift-Control-V:   string:\033[2;2~
!! same esc-seq as C-Insert (really cannot be builtin-string)
URxvt.keysym.Shift-Control-C:   string:\033[2;5~

!!URxvt.keysym.Shift-Control-V:   eval:paste_clipboard
!!URxvt.keysym.Shift-Control-C:   eval:selection_to_clipboard

!!URxvt.keysym.C-S-0x56:          eval:paste_clipboard
!!URxvt.keysym.C-S-0x43:          eval:selection_to_clipboard

!!URxvt.keysym.Control-Meta-c:    builtin-string:
!!URxvt.keysym.Control-Meta-v:    builtin-string:
URxvt.keysym.Control-Meta-v:    eval:paste_clipboard
URxvt.keysym.Control-Meta-c:    eval:selection_to_clipboard

URxvt.keysym.C-S-plus:          font-size:increase
URxvt.keysym.C-S-underscore:    font-size:decrease
URxvt.keysym.C-S-parenright:    font-size:reset

URxvt.keysym.C-0:               string:\060

!! NOTE: Home (khome) can be: ^[[H or ^[[1~ or ^[[7~
!! NOTE: End  (kend)  can be: ^[[F or ^[[4~ or ^[[8~

URxvt.keysym.Control-Home:      string:\033[1;5H
URxvt.keysym.Control-End:       string:\033[1;5F
URxvt.keysym.Meta-Home:         string:\033[1;3H
URxvt.keysym.Meta-End:          string:\033[1;3F

URxvt.keysym.Control-Up:        string:\033[1;5A
URxvt.keysym.Control-Down:      string:\033[1;5B
URxvt.keysym.Control-Left:      string:\033[1;5D
URxvt.keysym.Control-Right:     string:\033[1;5C

URxvt.keysym.Shift-Up:          string:\033[1;2A
URxvt.keysym.Shift-Down:        string:\033[1;2B
URxvt.keysym.Shift-Left:        string:\033[1;2D
URxvt.keysym.Shift-Right:       string:\033[1;2C

URxvt.keysym.C-S-Up:            string:\033[1;6A
URxvt.keysym.C-S-Down:          string:\033[1;6B
URxvt.keysym.C-S-Left:          string:\033[1;6D
URxvt.keysym.C-S-Right:         string:\033[1;6C

!!URxvt*metaSendsEscape:          true

URxvt.keysym.Meta-Up:           string:\033[1;3A
URxvt.keysym.Meta-Down:         string:\033[1;3B
URxvt.keysym.Meta-Left:         string:\033[1;3D
URxvt.keysym.Meta-Right:        string:\033[1;3C

URxvt.keysym.Shift-Meta-Up:     string:\033[1;4A
URxvt.keysym.Shift-Meta-Down:   string:\033[1;4B
URxvt.keysym.Shift-Meta-Left:   string:\033[1;4D
URxvt.keysym.Shift-Meta-Right:  string:\033[1;4C

URxvt.keysym.Control-Meta-Up:     string:\033[1;7A
URxvt.keysym.Control-Meta-Down:   string:\033[1;7B
URxvt.keysym.Control-Meta-Left:   string:\033[1;7D
URxvt.keysym.Control-Meta-Right:  string:\033[1;7C

!! Prior == PgUp
URxvt.keysym.Control-Prior:     string:\033[5;5~
URxvt.keysym.C-S-Prior:         string:\033[5;6~
URxvt.keysym.Meta-Prior:        string:\033[5;3~
URxvt.keysym.Control-Meta-Prior: string:\033[5;7~

!! Next == PgDown
URxvt.keysym.Control-Next:      string:\033[6;5~
URxvt.keysym.C-S-Next:          string:\033[6;6~
URxvt.keysym.Meta-Next:         string:\033[6;3~
URxvt.keysym.Control-Meta-Next:  string:\033[6;7~

URxvt.keysym.Control-Insert:    string:\033[2;5~
URxvt.keysym.Shift-Insert:      string:\033[2;2~
URxvt.keysym.C-S-Insert:        string:\033[2;6~
URxvt.keysym.Meta-Insert:       string:\033[2;3~
URxvt.keysym.Shift-Meta-Insert: string:\033[2;4~
URxvt.keysym.Control-Meta-Insert: string:\033[2;7~

URxvt.keysym.Control-Delete:    string:\033[3;5~
URxvt.keysym.Shift-Delete:      string:\033[3;2~
URxvt.keysym.C-S-Delete:        string:\033[3;6~
URxvt.keysym.Meta-Delete:       string:\033[3;3~
URxvt.keysym.Shift-Meta-Delete: string:\033[3;4~
URxvt.keysym.Control-Meta-Delete: string:\033[3;7~
!! Control-Meta-Delete is usally eaten by winmgr ...

!! no-op is command:\000

!!URxvt.keysym.Shift-Up: command:\033]720;1\007
!!URxvt.keysym.Shift-Down: command:\033]721;1\007

!! ==========================================
!! ==========================================

!! perl extensions, misc ...

!! also see: https://github.com/muennich/urxvt-perls

!! NOTE: edit <perl-lib>/perl/selection-popup, option-popup and change:
!!       button 3 + ControlMask -> button 3 + ShiftMask
!!       button 2 + ControlMask -> button 2 + Mod1Mask

!!URxvt.perl-lib: ~/urxvt-perl
!!URxvt.perl-lib: /usr/lib/x86_64-linux-gnu/urxvt

!!URxvt.perl-ext-common: default,matcher,font-size,selection-to-clipboard
!! Open urls in browser with Control-Click
!!URxvt.urlLauncher: /usr/bin/firefox
URxvt.matcher.button: S1
!! Change font size on Control-Plus/Minus
!!URxvt.keysym.Control-0x2b: perl:font-size:increase
!!URxvt.keysym.Control-0x2d: perl:font-size:decrease
!! Copy Paste & Other Extensions
!!URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select
!!URxvt.perl-ext-common: default,matcher,focus
URxvt.perl-ext-common: default,matcher,-clipboard,-selection,-selection-popup,-option-popup
!!URxvt.keysym.M-c: perl:clipboard:copy
!!URxvt.keysym.M-v: perl:clipboard:paste
!!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
!!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!!URxvt.keysym.M-s: perl:keyboard-select:search
!!URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlButton: 1
URxvt.urlLauncher: xdg-open
!!URxvt.underlineURLs: true
URxvt.underlineURLs: false
!! if want urls colored differently, bold etc.
!!URxvt.matcher.rend.0: Uline Bold fg5
URxvt.matcher.rend.0: Italic
!!URxvt.url-select.underline: true

!!URxvt.copyCommand:  xsel -i -c --rmlastnl --sc 0
!!URxvt.pasteCommand: xsel -o -c --rmlastnl --sc 0
URxvt.copyCommand:  myclip -
URxvt.pasteCommand: myclip --o --rmlastnl --sc 0

URxvt.clipboard.autocopy: false
!!URxvt.clipboard.copycmd:  xsel -i -c --rmlastnl --sc 0
!!URxvt.clipboard.pastecmd: xsel -o -c --rmlastnl --sc 0
URxvt.clipboard.copycmd:  myclip -
URxvt.clipboard.pastecmd: myclip --o --rmlastnl --sc 0

!! ==========================================

!! seems to already be there
!!URxvt*VT100.translations:    #override\
!!    Control Meta<Btn3Motion>:  select-extend()

!!*VT100.translations:    #override\
!!    Shift ~Ctrl ~Alt<Btn1Down>:              extend-start()\n\
!!    Shift ~Ctrl ~Alt Button1<PtrMoved>:      extend-adjust()\n\
!!    Shift ~Ctrl ~Alt<Btn1Up>:                extend-end()\n\
!!    Ctrl ~Shift ~Alt<Btn1Down>: grab-focus() set-insertion-point()\n\
!!    Ctrl ~Shift ~Alt Button1<PtrMoved>:      \n\
!!    Ctrl ~Shift ~Alt<Btn1Up>:                \n\
!!    ~Shift ~Ctrl ~Alt Button1<PtrMoved>:     extend-adjust()\n\
!!    ~Shift ~Ctrl ~Alt<Btn1Up>:               extend-end()\n\
!!    ~Shift ~Ctrl ~Alt<Btn3Down>:             stuff()\n\

XTerm*.foreground:   #c5c5c5
XTerm*.background:   #14292e

!! 0, 1, 2 - 2 works in nvim but not in shell for even basic keys like Shift+<letter>
XTerm*modifyOtherKeys: 1
!!XTerm*formatOtherKeys: 1

!! if locale specifies utf8:
!!XTerm.VT100.locale: true
!! or force utf8:
XTerm.VT100.locale: false
XTerm.VT100.utf8: true

!!XTerm*faceName: DejaVu Sans Mono Book
XTerm*faceName: Monospace
XTerm*faceSize:12.6

XTerm*Geometry: 194x53+690+678

!!XTerm*allowBoldFonts: false
XTerm*colorBDMode: true

XTerm*metaSendsEscape: true

!   ~       means that that modifier must not be asserted.
!   !       means that the listed modifiers must be in the correct state and
!               no other modifiers can be asserted.

!! these do NOT seem to work in urxvt-unicode ...
XTerm*VT100.translations:    #override \
    Ctrl Shift ~Alt   <Key> space: string("\037 ") \n\
    Shift Alt ~Ctrl   <Key> space: ignore() \n\
    Shift ~Alt ~Ctrl  <Key> space: string("\036 ") \n\
    Alt ~Shift ~Ctrl  <Key> space: ignore() \n\
    Ctrl Alt ~Shift   <Key> space: string("\033#") \n\
    ~Ctrl ~Shift ~Alt <Key> BackSpace: string("\177") \n\
    Ctrl Shift ~Alt   <Key> BackSpace: string("\037\177") \n\
    Ctrl Alt ~Shift   <Key> BackSpace: string("\033@") \n\
    Shift Alt ~Ctrl   <Key> BackSpace: ignore() \n\
    Ctrl ~Shift ~Alt  <Key> BackSpace: string("\036\177") \n\
    Alt ~Shift ~Ctrl  <Key> BackSpace: ignore() \n\
    Shift ~Alt ~Ctrl  <Key> BackSpace: string("\036\010") \n\
    ~Ctrl Shift Alt   <Key> equal: ignore() \n\
    ~Ctrl ~Shift Alt  <Key> equal: string("=") \n\
    Ctrl ~Shift Alt   <Key> equal: string("\033#") \n\
    Ctrl ~Shift ~Alt  <Key> equal: string("\036=") \n\
    Ctrl ~Shift ~Alt  <Key> minus: string("\036-") \n\
    Ctrl ~Shift Alt   <Key> minus: ignore() \n\
    ~Ctrl Shift Alt   <Key> minus: string("\033_") \n\
    Ctrl Shift ~Alt   <Key> [: string("\037[") \n\
    Ctrl ~Shift Alt   <Key> [: ignore() \n\
    Ctrl Shift ~Alt   <Key> ]: string("\037]") \n\
    Ctrl Shift ~Alt   <Key> /: string("\037/") \n\
    Ctrl ~Shift ~Alt  <Key> Return: string("\015") \n\
    ~Ctrl Shift ~Alt  <Key> Return: string("\015") \n\
    ~Ctrl ~Shift Alt  <Key> Return: string("\033\015") \n\
    Ctrl ~Shift Alt   <Key> Return: string("\036\015") \n\
    ~Ctrl Shift Alt   <Key> Return: string("\033\015") \n\
    Ctrl Shift ~Alt   <Key> Return: ignore() \n\
    Ctrl Shift Alt    <Key> Return: ignore() \n\
    ~Ctrl ~Shift Alt  <Key> Delete: string("\033[3;3~") \n\
    Ctrl Shift ~Alt   <Key> Delete: string("\033[3;6~") \n\
    ~Ctrl Shift Alt   <Key> Delete: string("\033[3;4~") \n\
    Ctrl ~Shift Alt   <Key> Insert: string("\033[2;7~") \n\
    Ctrl ~Shift Alt   <Key> Delete: string("\033[3;7~") \n\
    Ctrl ~Shift Alt   <Key> Home: string("\033[1;7H") \n\
    Ctrl ~Shift Alt   <Key> End: string("\033[1;7F") \n\
    Ctrl ~Shift Alt   <Key> Prior: string("\033[5;7~") \n\
    Ctrl ~Shift Alt   <Key> Next: string("\033[6;7~") \n\
    ~Ctrl Shift Alt   <Key> Home: string("\033[1;4H") \n\
    ~Ctrl Shift Alt   <Key> End: string("\033[1;4F") \n\
    Ctrl ~Shift Alt   <Key> Up: string("\033[1;7A") \n\
    Ctrl ~Shift Alt   <Key> Down: string("\033[1;7B") \n\
    Ctrl ~Shift Alt   <Key> Left: string("\033[1;7D") \n\
    Ctrl ~Shift Alt   <Key> Right: string("\033[1;7C") \n\
    ~Ctrl Shift Alt   <Key> Up: string("\033[1;4A") \n\
    ~Ctrl Shift Alt   <Key> Down: string("\033[1;4B") \n\
    ~Ctrl Shift Alt   <Key> Left: string("\033[1;4D") \n\
    ~Ctrl Shift Alt   <Key> Right: string("\033[1;4C") \n\
    Ctrl Shift ~Alt   <Key> f: string("\006") \n\
    Ctrl Shift ~Alt   <Key> b: string("\002") \n\
    Ctrl Shift ~Alt   <Key> j: string("\037J") \n\
    Ctrl Shift ~Alt   <Key> k: string("\037K") \n\
    ~Ctrl Shift Alt   <Key> j: string("\036J") \n\
    ~Ctrl Shift Alt   <Key> k: string("\036K") \n\
    Ctrl Shift ~Alt   <Key> n: string("\037N") \n\
    Ctrl Shift ~Alt   <Key> p: string("\037P") \n\
    ~Ctrl Shift Alt   <Key> n: string("\036N") \n\
    ~Ctrl Shift Alt   <Key> p: string("\036P") \n\
    Ctrl Shift ~Alt   <Key> g: string("\037G") \n\
    Ctrl ~Shift ~Alt  <Key> i: string("\036\011") \n\
    Ctrl Shift ~Alt   <Key> i: string("\033[Z") \n\
    Ctrl ~Shift Alt   <Key> i: string("\033\011") \n\
    Ctrl ~Shift ~Alt  <Key> Tab: string("\033[27;5;9~") \n\
    Ctrl Alt ~Shift   <Key> backslash: string("\033\034") \n\
    Ctrl ~Shift Alt   <Key> u: string("\033\025") \n\
    Ctrl ~Alt Shift   <Key> v: string("\033[2;2~") \n\
    Ctrl Alt ~Shift   <Key> v: string("\033[2;2~") \n\
    Ctrl ~Alt Shift   <Key> c: string("\033[2;5~") \n\
    Ctrl Alt ~Shift   <Key> c: string("\033[2;5~") \n\
    Ctrl Shift ~Alt <Key> minus: smaller-vt-font() \n\
    Ctrl Shift ~Alt <Key> equal: larger-vt-font() \n\
    Ctrl Shift ~Alt <Key> 0: set-vt-font(d) \n\
    ! Alt <Btn1Down>: popup-menu(mainMenu) \n\
    ! Alt <Btn2Down>: popup-menu(vtMenu) \n\
    ! Alt <Btn3Down>: popup-menu(fontMenu) \n\
    ! Ctrl <Btn1Down>: ignore() \n\
    ! Ctrl <Btn2Down>: ignore() \n\
    ! Ctrl <Btn3Down>: ignore() \n\
    ! Shift <Btn1Down>: ignore() \n\
    ! Shift <Btn1Motion>: ignore() \n\
    ! Shift Button1<PtrMoved>: ignore() \n\
    ! Shift <Btn1Up>: ignore() \n\
    ! Shift <Btn3Down>: ignore() \n\
    Ctrl Shift ~Alt <Btn1Down>: select-start(CLIPBOARD) \n\
    Ctrl Shift ~Alt <Btn1Motion>: select-extend(CLIPBOARD) \n\
    Ctrl Shift ~Alt <Btn1Up>: select-end(CLIPBOARD) \n\
    Ctrl Shift ~Alt <Btn3Down>: start-extend(CLIPBOARD) \n\
    Ctrl Shift ~Alt <Btn3Motion>: select-extend(CLIPBOARD) \n\
    Ctrl Shift ~Alt <Btn3Up>: select-end(CLIPBOARD)

!! NOTE: MUST set this to get mouse selections to work inside tmux ...
XTerm*shiftEscape: 3

!! or could disable all pop-up menus ...
!!*omitTranslation: popup-menu

XTerm*fullscreen: never
XTerm.omitTranslation: fullscreen

!! ==========================================

!! Xterm RCE mitigation (patch #375)
!! something to do with zsh vi line-editing  mode and ^G

*allowFontOps: false

XTerm*allowTitleOps: false
!!XTerm*allowFontOps: false
XTerm*allowWindowOps: false

XTerm*savelines: 0

! double-click to select whole URLs :D
!!XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

!!XTerm*on2Clicks: word
!!XTerm*on3Clicks: regex [^ \n]+
!!XTerm*on4Clicks: line

!! ==========================================

!! Zutty options

Zutty.quiet:        true

Zutty.altScroll:    false
Zutty.saveLines:    0

Zutty.geometry:     194x51
Zutty.boldColors:   false
!!Zutty.font:         LiberationMono-Regular
!!Zutty.boldFont:     LiberationMono-Regular
Zutty.font:         lucidatypewriterregular
zutty.boldFont:     lucidatypewriterregular
!!Zutty.font:         UbuntuMono-R
!!Zutty.boldFont:     UbuntuMono-R
!!Zutty.font:         JetBrainsMono-Regular
!!Zutty.boldFont:     JetBrainsMono-Regular
Zutty.fontsize:     22
Zutty.fontpath:     /home/kellma02/.local/share/fonts:/usr/share/fonts

Zutty.fg:           #f9e0c0
Zutty.bg:           #14292e

Zutty.cr:           #d78700

!! see: https://tomscii.sig7.se/zutty/doc/KEYS.html
Zutty.altSendsEscape:  true
!! 0, 1, 2 - 2 works in nvim but not in shell for even basic keys like Shift+<letter>
Zutty.modifyOtherKeys: 1

!! black
Zutty.color0: #000000
Zutty.color8: #767676

!! red
Zutty.color1: #cc0403
Zutty.color9: #f2201f

!! green
Zutty.color2:  #29cb00
Zutty.color10: #23fd00

!! yellow
Zutty.color3:  #cecb00
Zutty.color11: #ffd700

!! blue
Zutty.color4:  #5f87ff
Zutty.color12: #0066ff

!! magenta
Zutty.color5:  #ba55d3
Zutty.color13: #875faf

!! cyan
Zutty.color6:  #009999
Zutty.color14: #00ffff

!! white
Zutty.color7:  #dddddd
Zutty.color15: #ffffff

!! ==========================================

st.font:  Liberation Mono:pixelsize=22:antialias=true:autohint=true;
st.alpha: 0.98

st.foreground: #c5c5c5
!! st.foreground: #ffd1b7
!! gray -
!!st.background: #2e2e26
!! blue -
st.background: #14292e

