[Desktop Entry]
Name=Redshift
GenericName=Redshift
Comment=Redshift
Exec=redshift > /dev/null 2>&1 &
Terminal=false
Type=Application
Icon=
Categories=
StartupNotify=false
