[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=xfreerdp - <hostname>
Icon=remmina
Path=/home/<username>
Exec=xfreerdp +clipboard /size:1580x932 /sound /microphone +unmap-buttons -grab-keyboard /d:<domain> /u:<username> /sec:tls /v:<hostname>
StartupNotify=false
StartupWMClass=xfreerdp
OnlyShowIn=Unity;
X-UnityGenerated=true
