[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=xfreerdp - <hostname>
Icon=remmina
Path=/home/kellma02
Exec=xfreerdp +clipboard /scale:140 /size:2200x1300 /sound /microphone +unmap-buttons -grab-keyboard /d:<domain> /u:<username> /sec:tls /v:<hostname>
StartupNotify=false
StartupWMClass=xfreerdp
OnlyShowIn=Unity;
X-UnityGenerated=true
