# see also /etc/pm/sleep.d/99_xmodmap for resume|thaw
[Desktop Entry]
Type=Application
Exec=/home/kellma02/bin/xmodmap.fix &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xmodmap
Name=xmodmap
Comment[en_US]=ctrl + space = return
Comment=ctrl + space = return
