# see also /lib/systemd/system-sleep/xmodmap_post for resume|thaw (post)
[Desktop Entry]
Type=Application
Exec=/home/<user>/bin/xmodmap.fix &
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xmodmap
Name=xmodmap
Comment[en_US]=ctrl + space = return
Comment=ctrl + space = return
